.content {
  display: flex;
  gap: 2rem;
}

@media screen and (max-width: 992px) {
  .content {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 576px) {
  .content {
    display: flex;
    flex-direction: column;
  }
}
