@import "../../assets/variables.scss";

.modal {
  position: absolute;
  top: 10;
  background-color: $color-3;
  width: 40%;
  height: fit-content;
  padding: 0 2rem 2rem;
  border-radius: 5px;
  z-index: 1;
  &__close {
    &--button {
      position: absolute;
      top: 0;
      right: 0;
      background-color: $color-5;
      height: 2rem;
      width: 2rem;
      &-X {
        font-size: 30px;
        color: $color-8;
      }
    }
  }
  &__data {
    padding-top: 2rem;
  }
}

@media screen and (max-width: 992px) {
  .modal {
    position: absolute;
    top: 10;
    left: 2rem;
  }
}

@media screen and (max-width: 576px) {
  .modal {
    position: absolute;
    top: 10;
    left: 2.5rem;
    width: fit-content;
  }
}
