@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap');

$bg-color-1: rgb(240, 128, 128);
$bg-color-2: rgba(212, 252, 252, 0.5);
$color-3: rgba(249,237,207, 0.5);
$color-4: rgb(252,246,231);



$color-1: black;
$color-2: rgba(132, 219, 255, 0.5);

$fontPermanentMarker: "Permanent Marker", cursive;
$fontKalam: 'Kalam', cursive;

$font-size-1: 1rem;
