@import "./assets/variables.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
  border: 0;
  text-decoration: none;
  // color: $color-1;
}

.App {
  text-align: center;
}
.main-container{
  // background-color: rgb(188, 239, 188);
  width:100%;
  // margin:auto;
}