@import "./assets/variables.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
  border: 0;
  text-decoration: none;
  // color: $color-1;
}

.main-container {
  min-width: 100%;
  width: fit-content;
}
